  <div class="container-fluid navbar-fixed-top navbar-style">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <strong class="font-weight-bold">The Mobile Shop</strong>
      </a>
    </div>

    <!-- Global Product Search Bar Html Starts -->   
    <div class="col-xs-6 col-xs-offset-1 vcenter">
        <div class="input-group">
            <div class="input-group-btn search-panel">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span id="search_concept">All</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu scrollable-dropdown" role="menu">
                  <li><a href="#">Apple</a></li>
                  <li><a href="#">Asus</a></li>
                  <li><a href="#">Blackberry</a></li>
                  <li><a href="#">Gionee</a></li>
                  <li><a href="#">Google</a></li>
                  <li><a href="#">HTC</a></li>
                  <li><a href="#">Honor</a></li>
                  <li><a href="#">Huawei</a></li>
                  <li><a href="#">i-Ball</a></li>
                  <li><a href="#">InFocus</a></li>
                  <li><a href="#">Intex</a></li>
                  <li><a href="#">Lava</a></li>
                  <li><a href="#">LeEco</a></li>
                  <li><a href="#">Lenovo</a></li>
                  <li><a href="#">LG</a></li>
                  <li><a href="#">Micromax</a></li>
                  <li><a href="#">Microsoft</a></li>
                  <li><a href="#">Moto</a></li>
                  <li><a href="#">Nokia</a></li>
                  <li><a href="#">OnePlus</a></li>
                  <li><a href="#">Oppp</a></li>
                  <li><a href="#">Panasonic</a></li>
                  <li><a href="#">Samsung</a></li>
                  <li><a href="#">Sony</a></li>
                  <li><a href="#">Vivo</a></li>
                  <li><a href="#">Videocon</a></li>
                  <li><a href="#">Xiaomi</a></li>
                </ul>
            </div> 
            <input type="hidden" name="search_param" value="all" id="search_param">
            <input type="text" 
                   class="form-control" 
                   name="x" 
                   id="search" 
                   placeholder="Search for your desired phone"
            >
            <span class="input-group-btn">
               <button class="btn btn-default" type="button"
                onclick="var term = document.getElementById('search').value;
                         var url = '/search/' + term;
                         if(term){location.href=url;}else{alert('Please enter a search term');}">
                   <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
       </div>
   </div>
   <!-- Global Product Search Bar Html Ends-->   

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/shopping-cart">
                <i class="fa fa-cart-plus" aria-hidden="true"></i> Shopping Cart
                {{# if session.cart.totalQty }}
                    <span class="badge">{{session.cart.totalQty}}</span>
                {{/if}}
            </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> User Management <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {{# if login }}
                <li><a href="/user/profile"> User Account</a></li>
                <li><a href="/user/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
            {{ else }}
                <li><a href="/user/signup"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign Up</a></li>
                <li><a href="/user/signin"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a></li>
            {{/if}}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>