body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.thumbnail img {
	height: 220px;
  	overflow-y: hidden;
}

.thumbnail .description{
	color: #7f7f7f;

}

.price{
	font-weight: bold;
	font-size: 16px;
}

.zoom {      
	-webkit-transition: all 0.35s ease-in-out;    
	-moz-transition: all 0.35s ease-in-out;    
	transition: all 0.35s ease-in-out;     
	cursor: -webkit-zoom-in;      
	cursor: -moz-zoom-in;      
	cursor: zoom-in;  
}     

.zoom:hover,  
.zoom:active,   
.zoom:focus {
	/**adjust scale to desired size, 
	add browser prefixes**/
	-ms-transform: scale(2.5);    
	-moz-transform: scale(2.5);  
	-webkit-transform: scale(2.5);  
	-o-transform: scale(2.5);  
	transform: scale(2.5);    
	position:relative;      
	z-index:100;  
}

.navbar-style {
	 background-color: #131516;
}

.vcenter{
    position: relative;
    top: 50%;
    transform: translateY(25%); 
}